@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  background-color: #000000;
  color: #fff;
}

a {
  color: var(--color-lime-400);
}

.boxes {
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(to right, #333 1px, #000000 1px);
  background-size: 70px 70px;
}

.vignette {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vignette::after {
  content: '';
  display: block;
  width: 100%;
  z-index: 10;
  height: 200px;
  background: linear-gradient(#000, transparent);
}

.vignette::before {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 10;
  height: 200px;
  background: linear-gradient(transparent, #000);
}

.tables tr {
  border-bottom: 1px solid #343434;
}

.tables td,
th {
  text-align: left;
  border-right: 1px solid #343434;
}

.tables td,
th,
tr {
  padding: 0.5rem;
}
